{% extends "App/padre.html" %}

{% load static %}

<!-- -->
{% block titulo %}
<H1 class="mx-auto my-0 text-uppercase">El Blog de Horyan</H1>                        

{% endblock %}

<!-- -->
{% block contenidoQueCambia %}

{% endblock %}




{% block contacto %}
<!-- CONTACTO-->
<section class="contact-section bg-black">
    
            <div class="row-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Contacto</h4>

                        <div class="small text-black-50"><a href="#!">hory.san93@gmail.com</a></div>
                    </div>
                </div>
            </div>
    
</section>
{% endblock %}

