{% extends "App/padre.html" %}

{% load static %}

<!-- -->
{% block titulo %}
<H1 class="mx-auto my-0 text-uppercase"> Sugerencias de videojuegos </H1>                        
<h2 class="text-white-50 mx-auto mt-2 mb-5"> Aún no analizamos todo, así que recibimos tus sugerencias!  </h2>

{% endblock %}

<!-- -->
{% block contenidoQueCambia %}
<body style="background-color:black"></body>
    <form>
        <a href="{% url 'sugerenciasformulario' %}">
            <input type="button" value="sugiera nuevas reviews">
        </a>
    </form>
</body>
{% endblock %}